body {
    font-family: $font-family;
}

.label {
    font-size: $font-size-label;
    color: $secondary-color;
}

.title-typography {
    font-size: $font-size-title;
    font-weight: $font-weight-bold;
}
