body {
    font-family: $font-family;
}

.label {
    font-size: $font-size-label;
    color: $secondary-color;
}
.label--blue {
    color:$primary-color;
}

.title-typography {
    font-size: $font-size-title;
    font-weight: $font-weight-bold;
}

.sub-title {
    font-size: $font-size-h3;
    font-weight: $font-weight-bold;
}


