// Breakpoints
$breakpoint-primary: 40rem;


// Typography

$font-family: komet,sans-serif;
$font-base-weight:400;
$font-base-style:normal;
$font-weight-bold: 600;

$font-size-title:5rem;
$font-size-label: 1.1rem;
$font-size-h3: 1.25rem;




// colors
$primary-color:#0422BB;
$secondary-color: #FCCD5A;
$accent-color:#FC6C59;
$white-color: #FFFFFF;
$transparent-color: rgba(255,255,255,1);
$box-shadow: -3px 3px 21px -5px rgba(0,0,0,0.33);

//border radius
$border-radius-standard: 3.125rem;
$border-radius-small: 1rem;
$border-thickness: 4px;


//heights
$header-height: 5rem;
