.card {
    border-top-right-radius:$border-radius-small;
    border-top-left-radius:$border-radius-small;
    background-color: $white-color;
    padding: 1rem;
    margin-top: 1rem;
    min-height: 65vh;
    display: flex;
    flex-direction: column;
    justify-content: center;

    &__title {
        overflow: hidden;
        position: relative;
        max-width: 98%;
        display: flex;
        align-items:baseline;
        position: relative;
        margin: 1rem 0;
    }
    &__title-img {
        height:8rem;
        position: relative;
        transform: translateX(-25%);
    }
    &__title-txt {
        position: relative;
        left: -5rem;
    }
}

@media (min-width: $breakpoint-primary) {
    .card {
        padding: 2rem 2rem;
    }
}
