.order-card {
    border: 4px solid $secondary-color;
    border-radius: $border-radius-small;
    position: relative;
    width: 8.75rem;
    aspect-ratio: 1/1;
    padding: 0.5rem;
    flex-shrink: 0;
    overflow: hidden;
    margin-top: 1rem;
    &__container {
        display: flex;
        gap: 1.5rem;
        padding: 1rem;
        overflow-y: auto;
        max-width: 90vw;
        margin: 0 auto;
    }
    &__wrapper {
        position: relative;
    }
    &__delete {
        z-index: 100;
        position: absolute;
        top: 0;
        left: -1rem;
    }
    &__title {
        position: relative;
        z-index: 1;
        color: $primary-color;
        display: flex;
        flex-direction:row-reverse;
        justify-content: space-between;
        align-items: baseline;
        text-transform: capitalize;
        background-color: $transparent-color;
        padding: 0.5rem;
        border-radius: $border-radius-small;
        flex-wrap: wrap;
        word-break: break-word;
    }
    &__id {
        font-size: 0.8rem;
    }
    &__id-nr {
        font-weight: $font-weight-bold;
    }
    &__name {
        font-weight: $font-weight-bold;
    }
    &__image {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        width: 8.75rem;
        aspect-ratio: 1/1;
        object-fit: cover;
        opacity: 0.8;
    }
    &__btn {
        position: relative;
        z-index: 1;
        bottom:2rem;
    }
}
