.landing-page {
    display: flex;
    flex-direction: column;
    height: 100vh;
    &__logo-text {
        color: $accent-color;
        max-width:100%;
        width: 10rem;
        display: flex;
        flex-direction:column;
        margin: 10vh auto 0 auto;
        align-items: center;
    }
    &__img {
        margin-top:auto;
    }
}

@media (min-width: $breakpoint-primary) {
    .landing-page {
        padding: 2rem 2rem 0 0;
        flex-direction: row-reverse;
        max-width: 100%;
        width: 100rem;
        margin: 0 auto;
        &__logo-text {
            margin: 20vh auto 0 auto;
            font-size:calc(3.5rem + 1vw);
        }
    }
}

